@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
  font-family: Lato;
}

.home__body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.home__card {
  width: 100%;
  max-width: 500px;
  padding: 2em 1em;
  text-align: center;
  margin: 1em;
  border-radius: 15px;
}

h1.page__title {
  font-weight: 900;
}

.loader-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.loader-overlay i {
  color: black;
  font-size: 3em;
}

.loader-overlay .error__msg {
  display: none;
}

span.info__detail {
  font-weight: bold;
}

span.info__detail {
  margin: 0 0.5em;
}

span.info__detail#timetorefresh {
  color: #b71c1c;
}

table.race__table {
  max-width: 500px;
}

table.race__table thead tr th {
  text-align: center;
}

table.race__table tbody tr td[scope="col"] {
  text-align: center;
  font-weight: bold;
}

table.race__table tbody tr td sup.decrease {
  color: #b71c1c;
}

table.race__table tbody tr td sup.increase {
  color: #1B5E20;
}

@media (min-width: 1200px) {
  .container {
    max-width: 95%;
  }
}

.blacked {
  color: black !important;
  background: black !important;
}

.custom-row {
  display: none;
}